header{
  background-color: #373737;
  text-transform: uppercase;
}
header .navbar-toggler{
  background-color: #fff;
}
header .nav-item{
  padding-right: 2em;
}
header li a:hover{
  text-decoration: underline !important;
}
header li a{
  opacity: 0.6;
}
header .active{
  opacity: 1 !important;
  font-weight: bold;
}
/*header ul{
  line-height: 4em;
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  display: flex;
  float: left;
}
header ul li{
  text-transform: uppercase;
  padding-right: 2em;
}
header ul li a, a:hover{
  color: inherit;
}*/
.brand {
  text-decoration: none !important;
  font-size: 1.4em;
}
aside{
  background-color: #f2f2ea;
  height: 500px;
}
aside ul{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
aside ul a{
  color: inherit;
  text-decoration: none !important;
}
aside ul li{
  line-height: 3em;
}
aside .shelf-icons{
  width: 20%;
  text-align: center;
}
aside .shelf-icons .active{
  background-color: #de6262;
  color: #fff;
}
aside .shelf-icons li{
  border-bottom: 1px solid #d4d5d0;
}
aside .shelves{
  width: 80%;
}
aside .shelves li{
  padding-left: 1em;
  border-bottom: 1px solid #d4d5d0;
  border-left: 1px solid #d4d5d0;
}
aside .add-shelf{
  text-align: center;
  text-transform: uppercase;
}
aside .add-shelf a{
  color: inherit;
}
main{
  background-color: #f2f2f0;
  height: 500px;
  border-top: 5px solid #df6260;
  border-left: 1px solid #d4d5d0;
}
main h1{
  background-color: #f7f6f2;
  border-bottom: 1px solid #d4d5d0;
  line-height: 1.5em;
}
main h1 .fa-book{
  margin-left: 1em;
  margin-right: 0.2em;
  font-size: 0.8em;
}
main h1 .tag{
  margin-right: 1em;
  font-size: 0.5em;
}
main .card{
  width: 65%;
  margin: 0 auto;
  border-radius: 0;
  background: #000;
}
main .card h2{
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
  font-size: 2em;
  padding-right: 0.4em;
  text-transform: uppercase;
}
main .card h3{
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
  font-size: 0.8em;
  padding-right: 1em;
  text-transform: uppercase;
}
main .qr{
  width: 90%;
  height: 4em;
  background-color: #fff;
  margin: 1em auto 0 auto;
  background: url('/img/qr.png');
  background-size: cover;
  background-position: 50% 50%;
}
main .bar1{
  height: 1.2em;
  background-color: #fff;
  margin: 2.3em 0 0 0;
}
main .bar2{
  height: 1.2em;
  margin: 2.3em 0 0 0;
}
main .card-details ul{
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  margin-bottom: 0.2em;
}
main .controls{
  text-align: center;
  margin: 2% 0;
}
.no-padding{
  padding: 0 !important;
}
.pl1{
  padding-left: 1em !important;
}
.pl2{
  padding-left: 2em !important;
}
.pl3{
  padding-left: 3em !important;
}
.pl4{
  padding-left: 4em !important;
}
.pl5{
  padding-left: 5em !important;
}
.pr1{
  padding-right: 1em !important;
}
.pr2{
  padding-right: 2em !important;
}
.pr3{
  padding-right: 3em !important;
}
.pr4{
  padding-right: 4em !important;
}
.pr5{
  padding-right: 5em !important;
}
