
// Body
$body-bg: yellow;
//side menu
$side-menu-bg: #0f0;
$side-menu-text: #fff;
$side-menu-text-hover: #f00;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
